@media only screen and (max-width: 640px) {
    .table-actions {
        display: block !important;
    }
    .table-actions button{
        margin-bottom: 1rem;
    }
    .task-filters-container{
        display: block !important;
    }
    .task-search-input{
        margin-bottom: 1rem;
    }
}

.task-table-title {
    font-weight: 400;
    color: #706f6f;
    font-size: 1.75rem;
}

.underline-title {
    position: absolute;
    background-color: #b38e5d;
    width: 35px;
    height: 5px;
}

.create-task-button {
    background: #b38e5d !important;
    color: #fff;
}

.action-buttons {
    background-color: #b38e5d !important;
}